@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
    font-family: 'Amatic SC', cursive; 
   font-style: italic;
}

main {
    box-shadow: 5px 5px 15px #381628 ;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
   color:#B81C6C ;
   text-align: center;
   text-shadow: 1px 1px 2px #381628;

}

h2 {
   color: #85144E;
   text-shadow: #381628;
}

body {
    background-image: linear-gradient(to right,#B81C6C,#85144E);
}

p {
    text-align: justify;
}